.contactus{
  font-family: 'Pattaya', sans-serif;
  color:#1979D2 ;
  font-size: 110px;
  text-shadow: 0 1px 0 white,
               0 2px 0 white,
               0 3px 0 white,
               0 4px 0 white,
               0 5px 0 white,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
   
}

html {
  min-height: 100%;
}

body {
  
  background: linear-gradient(grey, #424242 95%);
}

ul.task-bar {
  font-family:'Cormorant Infant', serif;
  padding: 0;
  text-align: center;
  margin:0;
  white-space:nowrap;
}

.task-bar li{
 border-radius: 10px;
   display: inline-block;
  color: white;
   border: 5px solid #1979D2;
  word-spacing:12px
  list style type: none;
  padding: 10px;
  font-size: 3.5vw;
  text-align:center;
  position: relative;
}

.home:link {
  background-color: none;
}


.home:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
  
  
}
.aboutus:link {
  background-color: none;
}


.aboutus:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
  
}

.whyus:link {
  background-color: none;
}


.whyus:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
}

.whyus:link {
  background-color: none;
}


.whyus:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
}

.pricing:link {
  background-color: none;
}


.pricing:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
}

.contact-us:link {
  background-color: none;
}


.contact-us:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
}

.more:link {
  background-color: none;
}


.more:hover {
  background: linear-gradient(#1979D2 30%, darkblue);
}

img {
 max-width:100%;
 height:auto;
}

.phonenumber {
  font-size: 2vw;
  color:white;
  margin-left: 50px;
  font-family: 'Cormorant Infant', serif;
  text-align: center;
}

.number {
  font-family: 'Cormorant Infant', serif;
  color: white;
  margin-left: 45px;
  font-size: 1.5vw;
  text-align: center;
}

.chris {
  font-family: 'Cormorant Infant', serif;
  color: white;
  margin-left: 45px;
  font-size: 4vw;
}

.e-mail {
  font-family: 'Cormorant Infant', serif;
  color: white;
  margin-left: 50px;
  font-size: 1.5vw;
  text-align: center;
}

